In [2]:
import requests
import json
import gmaps
import pandas as pd

In [3]:
gkey = "AIzaSyCEqpEC4rKfBBDkU0gQnaxg6zaf-UfIONo"
gmaps.configure(api_key=gkey)

weather_df = pd.read_csv("./output_data/weather_data.csv")
weather_df=weather_df.dropna()
weather_df.head()

,Unnamed: 0,City,Country,Temperature,Humidity %,Cloudiness %,Windspeed(mph),Longitude,Latitude
0,1,nisko,PL,54.00,98.0,100.0,3.00,22.14,50.52
1,2,mbanza-ngungu,CD,85.59,43.0,33.0,7.07,14.87,-5.25
2,3,castro,BR,90.91,28.0,0.0,10.27,-50.01,-24.79
3,4,ostrovnoy,RU,47.46,88.0,22.0,12.97,39.51,68.05
4,5,alofi,NU,75.20,94.0,4.0,5.82,-169.92,-19.06

In [4]:
city_locations = weather_df[["Latitude", "Longitude"]]
humidity = weather_df["Humidity %"].astype(float)

print(city_locations)

     Latitude  Longitude
0       50.52      22.14
1       -5.25      14.87
2      -24.79     -50.01
3       68.05      39.51
4      -19.06    -169.92
..        ...        ...
705    -22.00     148.05
706     48.81       3.08
707      5.50     120.88
708     46.54     138.33
709     65.09      12.37

[704 rows x 2 columns]

In [5]:
figure = gmaps.figure()

heat_layer = gmaps.heatmap_layer(city_locations, weights=humidity,
                                dissipating=False, max_intensity=100,
                                point_radius=1)
figure.add_layer(heat_layer)

figure

Figure(layout=FigureLayout(height='420px'))

In [6]:
ideal_weather = weather_df.loc[((weather_df["Cloudiness %"] == 0) & 
                               (weather_df["Windspeed(mph)"] < 10) &
                                ((weather_df["Temperature"] > 70) & 
                                (weather_df["Temperature"] < 80))
                               )]

len(ideal_weather)

11

In [7]:
ideal_locations = pd.DataFrame(ideal_weather[["City", "Country", "Latitude", "Longitude"]])
ideal_locations["Hotel Name"] = ""
ideal_locations["Lat"] = ""
ideal_locations["Lng"] = ""
ideal_locations

               City Country  Latitude  Longitude Hotel Name Lat Lng
14           tiznit      MA     29.58      -9.50
128        karratha      AU    -20.74     116.85
180      ridgecrest      US     35.62    -117.67
214     grand gaube      MU    -20.01      57.66
273  cap malheureux      MU    -19.98      57.61
386          kineta      GR     37.97      23.22
553            hays      US     30.05     -98.03
640          hirado      JP     33.36     129.55
645      mahmudabad      IN     27.30      81.12
660          mehran      IR     33.12      46.16
686         corinto      GR     37.94      22.96

In [8]:
params = {
    "radius": 5000,
    "types":"hotel",
    "key":gkey
}

for index, row in ideal_locations.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address = requests.get(base_url, params=params)
    name_address = name_address.json()
    
    ideal_locations.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    hotels_lat_lng = requests.get(base_url, params=params)
    
    hotels_lat_lng = hotels_lat_lng.json()

    ideal_locations.loc[index, "Lat"] = hotels_lat_lng["results"][0]["geometry"]["location"]["lat"]
    ideal_locations.loc[index, "Lng"] = hotels_lat_lng["results"][0]["geometry"]["location"]["lng"]

In [9]:
coords = []
for index, row in ideal_locations.iterrows():
    coords.append((row['Lat'], row['Lng']))
ideal_locations["Coords"] = coords
ideal_locations

,City,Country,Latitude,Longitude,Hotel Name,Lat,Lng,Coords
14,tiznit,MA,29.58,-9.50,Ouijjane,29.6242,-9.53954,"(29.6242257, -9.5395357)"
128,karratha,AU,-20.74,116.85,Karratha,-20.7337,116.845,"(-20.7337105, 116.8447425)"
180,ridgecrest,US,35.62,-117.67,Ridgecrest,35.6225,-117.671,"(35.6224561, -117.6708966)"
214,grand gaube,MU,-20.01,57.66,Goodlands,-20.0391,57.6496,"(-20.0391408, 57.6495717)"
273,cap malheureux,MU,-19.98,57.61,Grand Baie,-20.0089,57.5816,"(-20.0089204, 57.5816352)"
386,kineta,GR,37.97,23.22,Kineta,37.9696,23.2138,"(37.9695509, 23.2138496)"
553,hays,US,30.05,-98.03,Wimberley,29.9974,-98.0986,"(29.9974362, -98.0986204)"
640,hirado,JP,33.36,129.55,Hirado,33.368,129.554,"(33.3680242, 129.5536778)"
645,mahmudabad,IN,27.30,81.12,Mahmudabad,27.2967,81.1251,"(27.2967145, 81.1251235)"
660,mehran,IR,33.12,46.16,Mehran,33.1177,46.1733,"(33.1176647, 46.1732912)"
686,corinto,GR,37.94,22.96,Corinth,37.9386,22.9322,"(37.9386365, 22.9322383)"

In [10]:
all_ideal_locations = ideal_locations.to_dict('records')
info_box_template = """"
<d1>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</d1>
"""
info_box = [info_box_template.format(**hotel) for hotel in all_ideal_locations]
marker_layer = gmaps.marker_layer(coords, info_box_content= info_box)
figure.add_layer(marker_layer)

figure

Figure(layout=FigureLayout(height='420px'))